<div class = "col MEDIUM_TEXT  mt-4 mt-md-0">
        <div class = "row  mt-md-0 justify-content-center">
            <!-- Share... -->
            <div  class = "MEDIUM_TEXT col-md text-md-right mb-0 mb-sm- ">
                <input id="minimizeBtn" type="button" class="btn btn-primary" value="Minimize">

            </div>
            <!-- FACEBOOK icon... -->
            <div class = "col-auto text-sm-right pl-0 ">
                <!-- <a href = "#" onclick = "callFacebookShareDialog()">
                    <img src = " resources/images/Facebook2.svg" alt = "[FACEBOOK LOGO]" height = "34px"
                        onmouseover = "this.src='resources/images/Facebook2-blue.svg'"
                        onmouseout = "this.src='resources/images/Facebook2.svg'"
                    />
                </a> -->
                <a class="btn btn-primary" href="https://soundcloud.com/ucla-alumni/sets/bruin-jukebox" target="_blank">
                    SwitchOut
                </a>


            </div>
            <!-- TWITTER icon ... -->
            <div class = "col-auto text-sm-right pl-0 ">
        <!-- <a href = "https://twitter.com/intent/tweet?text=Join+a+groundbreaking+one-day+online+alumni+event+as+we+bring+UCLA%E2%80%99s+rich+history+and+collegiate+spirit+worldwide.+Visit+alumniday.ucla.edu+for+more+details+and+to+save+the+date.%0D%0A%0D%0A">
                <img src = "resources/images/Twitter2.svg" alt = "[TWITTER LOGO]" height = "34px"
                    onmouseover = "this.src='resources/images/Twitter2-blue.svg'"
                    onmouseout = "this.src='resources/images/Twitter2.svg'"
                />
                Close
            </a>-->
            <button id="close-btn" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>

        </div>
    </div>
